@model ProductListViewModel

@{
    Layout = "_Layout";
}

<a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="AddProduct" asp-route-productId="0"><span class="badge badge-primary">Ürün Ekle</span> </a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Kategori</th>
            <th scope="col">Birim</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Stok Miktarı</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products.Data)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.ProductName</td>
                <td>@product.Category</td>
                <td>@product.QuantityPerUnit</td>
                <td>@product.UnitPrice</td>
                <td>@product.StockAmount</td>
                <td>
                    <a type="button" href="/Basket/AddToBasket?productId=@product.Id" class="btn btn-xs btn-success text-white"> Sepete Ekle</a>
                    <a type="button" onclick="removeProduct(@product.Id)"  class="btn btn-danger text-white" >Sil</a>
                    <a type="button" href="/Product/UpdateProduct?productId=@product.Id" class="btn btn-warning text-white">Düzenle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*''*@

@section Scripts
{
    <script type="text/javascript">
        const myActionResultTempDataMessage="@TempData["MyActionResultModalMessage"]";
    </script>
}